*{
    margin:0;
    padding:0;
}

.background{
    background-color: aqua;
    height: 700px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.application-form
{
    padding-top: 20px;
width: 40%;
 background-color: white;
 padding-left: 20px;
 padding-right: 60px;
 margin-top: 20px;
 margin-bottom: 20px;

}

.application {
    margin-left:37%;
}
.button {
    margin-left: 45%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px ;
    padding-left:5px ;
    padding-right: 5px;
    margin-bottom: 30px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color:rgba(10, 10, 230, 0.3)
}


/* input[type="number"]{
    width: 40px;
}  */
.range1{
    width: 40px;
}


/* .gender{
    border-radius: 10px;
} */